body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #6C91C2;
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    font-family: 'Abril Fatface', cursive; 
}

nav a:link, nav a:visited {
    color: white;
    margin: 0 1.5%;
    font-size: 1.5vw;
    text-decoration: none;    
    text-transform: uppercase; 
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: orange;
}

section {
    height: 90vh;
    padding-top: 10vh;
}

section > div {
    width: 45%;
    margin: auto;
    padding-top: 10vh;  
    font-size: 1vw;
}

#about {
    background-color: #BFDBF7;
}

#portfolio {
    background-color: #C1CAD6;
}

#contact-me {
    background-color: #EAF4D3;
}

h1 {
    text-transform: uppercase;
    margin-top: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

#experience > div > ul > li {
    margin-bottom: 5%;
}

#contact-me > div > ul > li {
    display: inline-block;
    margin: 2.5%;
}

.fas, .fab {
    font-size: 3.5vw;
    color: grey;
}

img {
  float: right;
  margin-left: 3vw;
  margin-bottom: 3vw;
  width: 15vw;
}
