:root {
    /* layout */
  --background-image: url('images/background/paper.jpg');
  --background-color: grey;
  --header-height: 13vh;
  --main-width: 85%;
  /* cards */
  --card-columns: 9;
  --card-rows: 5;
  --row-gap: 4vh;
  --card-back-background: url('images/cardback/wood.png');
  --card-front-background: url('images/cardback/paper.png');
  --card-back-image: url('images/cardback/alchemy.png');
  --card-border: .3rem black solid;
  /* color */ 
  --font-color: black;
  /* modal */
  --modal-border: .5rem black solid;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Marcellus SC'; 
}

html {
  font-size: 62.5%;
}

body {
  font-size: 0;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url('images/cursor/wand.cur'), auto;
}

body * {
  font-size: 1.6rem;
}

header {
  height: var(--header-height);
  width: 100%;
  position: relative;
}

header > a {
  font-size: 2vw;
}
 
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 4vw;
  text-transform: uppercase;
  color: var(--font-color);
}

aside {
  height: calc(100vh - var(--header-height));
  width: calc(100% - var(--main-width));
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  padding: .5vw;
}

aside * {
  height: 10vh;
  font-size: 1.3vw;
  text-transform: uppercase;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stats {
  height: 70%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  display: inline-flex;
  background: url('images/aside/smoke.png') no-repeat top;
  background-size: contain;
}

.new-game {
  height:8.5vw;
  width: 8.5vw;
  background: url('images/aside/cauldron.svg') no-repeat center;
  background-size: contain;
  text-align: center;
}

main {
  height: calc(100vh - var(--header-height));
  width: var(--main-width);
  padding: 2vw;
  display: inline-grid;
  grid-template-columns: repeat(var(--card-columns), 1fr);
  align-content: start;
  justify-content: start;
  row-gap: var(--row-gap);
}

.card {
  position: relative;
  height: calc((100vh - var(--header-height) - (var(--card-rows) - 1) * var(--row-gap)) / var(--card-rows)); 
  width: calc((100vh - var(--header-height) - (var(--card-rows) - 1) * var(--row-gap)) / var(--card-rows));
}

.card, .front, .back {
  border-radius: 1rem;
}

.front, .back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: -1; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--card-front-background);
  border: var(--card-border);
}

.front-image {
  background-size: cover;
  height: 90%;
  width: 90%;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--card-back-background);
  border: var(--card-border);
}

.back-image {
  background-size: cover;
  height: 95%;
  width: 95%;
  background-image: var(--card-back-image);
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20vw;
  width: 15vw;
  background: var(--card-front-background);
  border: var(--modal-border);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-image {
  width: 10vw;
  height: 10vw;
  margin: 2vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-text {
  height: 5vw;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  text-transform: uppercase;
}
