*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html {
  font-size: 62.5%;
}

body {
  font-size: 0;
}

body * {
  font-size: 1.6rem;
}

header {
  height: 20vh;
  width: 100%;
  position: relative;
}

header > a {
  font-size: 2vw;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 6vmin;
}

aside {
  height: 80vh;
  width: 15%;
  vertical-align: top;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.statsContainer {
  height: 100%;
  width: 90%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.statsContainer * {
  font-size: 1.75vw;
  text-transform: uppercase;
}

.statsContainer .value {
  position: relative;
  top: 1.75vw;
}

main {
  height: 80vh;
  width: 85%;
  display: inline-grid;
  grid-template-columns: repeat(6, auto);
  align-content: space-evenly;
  justify-content: space-evenly;
}

.card {
  position: relative;
  height: 11vw;
  width: 10vw;
}

.front, .back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-color: green;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
}

.back {
  background-color: red;
}

.hidden {
  visibility: hidden;
}
